<!-- <meta charset="utf-8" />
  <title>Farhan Aziz</title>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1" /> -->

<!-- <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="./assets/favicon/apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="./assets/favicon/apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="./assets/favicon/apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="./assets/favicon/apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="./assets/favicon/apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="./assets/favicon/apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="./assets/favicon/apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="./assets/favicon/apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="./assets/favicon/apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="./assets/favicon/android-icon-192x192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="./assets/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="./assets/favicon/favicon-96x96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="./assets/favicon/favicon-16x16.png"
  /> -->

<!-- <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" /> -->
<!-- <meta name="theme-color" content="#ffffff" /> -->

<!-- Facebook and Twitter integration -->
<!-- <meta property="og:title" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" /> -->

<!-- <link rel="stylesheet" href="css/animate.css" />
  <link rel="stylesheet" href="css/icomoon.css" />
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/style.css" />-->

<head>
  <link rel="stylesheet" href="../assets/css/animate.css" />
  <!-- Icomoon Icon Fonts-->
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="../assets/css/bootstrap.css" />

  <!-- Theme style  -->
  <link rel="stylesheet" href="../assets/css/style.css" />

</head>

<header
  id="fh5co-header"
  class="fh5co-cover js-fullheight"
  role="banner"
  style="
    background: url(../assets/images/header-background.png);
  "
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t js-fullheight">
          <div
            class="display-tc js-fullheight animate-box"
            data-animate-effect="fadeIn"
          >
            <div
              class="profile-thumb"
              style="background: url(../assets/images/farhan.jpg)"
            ></div>
            <h1><span>Muhammad Farhan Aziz</span></h1>
            <h3><span>Software Engineer | Full Stack Developer</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="fh5co-about" class="animate-box">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>
          <i class="bi bi-person-circle" style="margin-right: 20px"></i>About Me
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <ul class="info">
          <li>
            <div class="info-item">
              <div
                class="small-circle"
                style="background-color: rgb(90, 216, 181)"
              ></div>
              <span class="first-block">Full Name:</span
              ><span class="second-block">Muhammad Farhan Abd Aziz</span>
            </div>
          </li>
          <li>
            <div class="info-item">
              <div
                class="small-circle"
                style="background-color: rgb(87, 202, 227)"
              ></div>
              <span class="first-block">Phone:</span>
              <span class="second-block">+60182026040</span>
            </div>
          </li>
          <li>
            <div class="info-item">
              <div
                class="small-circle"
                style="background-color: rgb(56, 132, 236)"
              ></div>
              <span class="first-block">Email:</span
              ><span class="second-block">farhanaziz3112&#64;gmail.com</span>
            </div>
          </li>
          <li>
            <div class="info-item">
              <div
                class="small-circle"
                style="background-color: rgb(198, 56, 236)"
              ></div>
              <span class="first-block">Website:</span
              ><span class="second-block">www.farhanaziz.com</span>
            </div>
          </li>
          <li>
            <div class="info-item">
              <div
                class="small-circle"
                style="background-color: rgb(229, 76, 177)"
              ></div>
              <span class="first-block">Address:</span
              ><span class="second-block"
                >Lot 338, Batu 2, Kampung Sawah, Pekan Nanas, 81500, Johor</span
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <h2>Hello There!</h2>
        <p>
          Hi everyone! I am Farhan, a dedicated Software Engineer currently
          working at Metabit Sdn Bhd in Johor, Malaysia. I hold a Bachelor's
          degree in Computer Science (Software Engineering) from the University
          of Malaya.
        </p>
        <p>
          From the perspective of Software Engineering field, I am always eager
          to take on new challenges and explore new skills to advance my career.
          With my existing skills, I am committed to keep improving and adapting
          to evolving technologies nowadays. Looking forward to connecting with
          you and sharing our journey of learning and growth!
        </p>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-resume" class="fh5co-bg-color">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>
          <i class="bi bi-file-earmark-text-fill" style="margin-right: 20px"></i
          >My Resume
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
        <ul class="timeline">
          <li class="timeline-heading text-center animate-box">
            <div><h3>Work Experience</h3></div>
          </li>
          <li class="animate-box timeline-unverted">
            <div
              class="timeline-badge"
              style="background-color: rgb(90, 216, 181)"
            >
              <i class="bi bi-suitcase-lg-fill h1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Software Engineer</h3>
                <h4 class="timeline-title">
                  Metabit Sdn Bhd, Iskandar Puteri, Johor
                </h4>
                <span class="company">July 2024 - Current</span>
              </div>
              <div class="timeline-body">
                <p>
                  Involved in devepment of Blockchain technology. Use technology
                  stack and frameworks such as Flutter, Golang, Angular and
                  React.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted animate-box">
            <div
              class="timeline-badge"
              style="background-color: rgb(87, 202, 227)"
            >
              <i class="bi bi-suitcase-lg-fill h1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Graduate Program (Internship)</h3>
                <h4 class="timeline-title">
                  TIME dotcom Bhd, Shah Alam, Selangor
                </h4>
                <span class="company">Jun 2024 - July 2024</span>
              </div>
              <div class="timeline-body">
                <p>
                  Transformative 3-week graduate program organized by TIME
                  dotCom Berhad, in collaboration with the University of Sussex.
                  Get to experience a lot of things including site visit,
                  departmental exposure and hands-on experience.
                </p>
              </div>
            </div>
          </li>
          <li class="animate-box timeline-unverted">
            <div
              class="timeline-badge"
              style="background-color: rgb(56, 132, 236)"
            >
              <i class="bi bi-suitcase-lg-fill h1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Sales Assistant</h3>
                <h4 class="timeline-title">
                  PUMA, Starling Mall, Petaling Jaya, Selangor
                </h4>
                <span class="company">Jan 2023 - March 2023</span>
              </div>
              <div class="timeline-body">
                <p>Short part-time job during semester break.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted animate-box">
            <div
              class="timeline-badge"
              style="background-color: rgb(198, 56, 236)"
            >
              <i class="bi bi-suitcase-lg-fill h1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Web Developer (Internship)</h3>
                <h4 class="timeline-title">
                  Cyber Village Sdn Bhd, Petaling Jaya, Selangor
                </h4>
                <span class="company">Jun 2022 - December 2022</span>
              </div>
              <div class="timeline-body">
                <p>
                  Assigned to be part of EPF team. Gained a lot of knowledge and
                  experience throughout this intern. New skills explored such as
                  Apache Wicket, Spring Boot and Angular. Truly opened my eyes
                  on how software engineering actually works in real industry.
                </p>
              </div>
            </div>
          </li>

          <br />
          <li class="timeline-heading text-center animate-box">
            <div><h3>Education</h3></div>
          </li>
          <li class="animate-box timeline-unverted">
            <div
              class="timeline-badge"
              style="background-color: rgb(229, 76, 177)"
            >
              <i class="bi bi-mortarboard-fill h1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">
                  Bachelor of Computer Science (Software Engineering)
                </h3>
                <h4 class="timeline-title">
                  University of Malaya, Kuala Lumpur
                </h4>
                <span class="company">Final CGPA: 3.77</span>
              </div>
            </div>
          </li>
          <li class="animate-box timeline-inverted">
            <div
              class="timeline-badge"
              style="background-color: rgb(90, 216, 181)"
            >
              <i class="bi bi-mortarboard-fill h1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Foundation In Physical Science</h3>
                <h4 class="timeline-title">
                  University of Malaya, Kuala Lumpur
                </h4>
                <span class="company">Final CGPA: 4.00</span>
              </div>
            </div>
          </li>
          <li class="animate-box timeline-unverted">
            <div
              class="timeline-badge"
              style="background-color: rgb(87, 202, 227)"
            >
              <i class="bi bi-mortarboard-fill h1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">SPM</h3>
                <h4 class="timeline-title">
                  Sekolah Sultan Alam Shah, Putrajaya
                </h4>
                <span class="company">Final Result: 8A+, 1A</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-skills" class="animate-box">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>
          <i
            class="bi bi-code-slash"
            style="margin-right: 20px; font-size: 45px"
          ></i
          >Skills
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>
            <span class="name-left">Flutter</span
            ><span class="value-right">85%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-1 progress-bar-striped active"
              role="progressbar"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 85%"
            ></div>
          </div>
        </div>
        <div class="progress-wrap">
          <h3>
            <span class="name-left">Angular</span
            ><span class="value-right">55%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-2 progress-bar-striped active"
              role="progressbar"
              aria-valuenow="55"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 55%"
            ></div>
          </div>
        </div>
        <div class="progress-wrap">
          <h3>
            <span class="name-left">ReactJS</span
            ><span class="value-right">50%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-3 progress-bar-striped active"
              role="progressbar"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 50%"
            ></div>
          </div>
        </div>
        <div class="progress-wrap">
          <h3>
            <span class="name-left">NextJS</span
            ><span class="value-right">40%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-4 progress-bar-striped active"
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 40%"
            ></div>
          </div>
        </div>
        <div class="progress-wrap">
          <h3>
            <span class="name-left">Unity Game Development</span
            ><span class="value-right">35%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-5 progress-bar-striped active"
              role="progressbar"
              aria-valuenow="35"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 35%"
            ></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>
            <span class="name-left">HTML</span
            ><span class="value-right">95%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-5 progress-bar-striped active"
              role="progressbar"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 95%"
            ></div>
          </div>
        </div>
        <div class="progress-wrap">
          <h3>
            <span class="name-left">CSS</span
            ><span class="value-right">90%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped active"
              role="progressbar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 90%"
            ></div>
          </div>
        </div>
        <div class="progress-wrap">
          <h3>
            <span class="name-left">JavaScript</span
            ><span class="value-right">90%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-1 progress-bar-striped active"
              role="progressbar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 90%"
            ></div>
          </div>
        </div>
        <div class="progress-wrap">
          <h3>
            <span class="name-left">Java, Python</span
            ><span class="value-right">95%</span>
          </h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-3 progress-bar-striped active"
              role="progressbar"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 95%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-blog">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>
          <i class="bi bi-rocket-takeoff" style="margin-right: 20px"></i
          >Projects
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="fh5co-blog animate-box">
          <a
            href="#"
            class="blog-bg"
            style="background-image: url(../assets/images/ummicare-logo.jpg)"
          ></a>
          <div class="blog-text">
            <span class="posted_on">March 2023 - February 2024</span>
            <h3><a href="#">UmmiCare: Your Child Care App</a></h3>
            <p class="blog-desc">
              A project assigned for my final year project. It is a mobile
              application designed to provide guidance to young parents, aiming
              to support their parenting journey and enhance parenting skills.
              Focus on two main elements which are health and education of the
              children. Consists of two main application, mobile app(parent
              user) and web app(admin user).
            </p>
            <ul class="info">
              <li>
                <div class="info-item">
                  <div
                    class="small-circle"
                    style="background-color: rgb(87, 202, 227)"
                  ></div>
                  <span
                    class="first-block"
                    style="display: flex; margin-bottom: 0; color: black"
                    >Flutter</span
                  >
                </div>
              </li>
              <li>
                <div class="info-item">
                  <div
                    class="small-circle"
                    style="background-color: rgb(90, 216, 181)"
                  ></div>
                  <span
                    class="first-block"
                    style="display: flex; margin-bottom: 0; color: black"
                    >Firebase</span
                  >
                </div>
              </li>
              <li>
                <div class="info-item">
                  <div
                    class="small-circle"
                    style="background-color: rgb(198, 56, 236)"
                  ></div>
                  <span
                    class="first-block"
                    style="display: flex; margin-bottom: 0; color: black"
                    >Android Studio</span
                  >
                </div>
              </li>
              <li>
                <hr class="hr" />
              </li>
              <li>
                <div class="info-item">
                  <a href="https://github.com/farhanaziz3112/UmmiCare-mobile"
                    ><i class="bi bi-github"></i
                  ></a>
                  <span
                    class="first-block"
                    style="
                      display: flex;
                      margin-bottom: 0;
                      color: black;
                      font-weight: 100;
                    "
                    >Mobile Repo</span
                  >
                </div>
              </li>
              <li>
                <div class="info-item">
                  <a href="https://github.com/farhanaziz3112/UmmiCare-web"
                    ><i class="bi bi-github"></i
                  ></a>
                  <span
                    class="first-block"
                    style="
                      display: flex;
                      margin-bottom: 0;
                      color: black;
                      font-weight: 100;
                    "
                    >Web Repo</span
                  >
                </div>
              </li>
              <li>
                <div class="info-item">
                  <a href="https://ummicare-6db1a.web.app/#/auth"
                    ><i class="bi bi-browser-chrome"></i
                  ></a>
                  <span
                    class="first-block"
                    style="
                      display: flex;
                      margin-bottom: 0;
                      color: black;
                      font-weight: 100;
                    "
                    >Deployed Web App</span
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="fh5co-blog animate-box">
          <a
            href="#"
            class="blog-bg"
            style="background-image: url(../assets/images/in-progress.jpg)"
          ></a>
          <div class="blog-text">
            <span class="posted_on">Oops, nothing here...</span>
            <h3><a href="#">Upcoming Project</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fh5co-about" class="animate-box">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2><i class="bi bi-chat" style="margin-right: 20px"></i>Contact Me</h2>
      </div>
    </div>
    <div class="row contact-container">
      <div class="col-lg-3 col-md-4">
        <div class="col-md-3">
          <a href="#"><i class="bi bi-telephone"></i></a>
        </div>
        <div class="col-sm-9">
          <span class="contact-title">Phone</span>
          <p class="contact-info">018-2026040</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="col-md-3">
          <a href="mailto:farhanaziz3112@gmail.com"
            ><i class="bi bi-envelope-at"></i
          ></a>
        </div>
        <div class="col-md-9">
          <span class="contact-title">Email</span>
          <p class="contact-info">farhanaziz3112&#64;gmail.com</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="col-md-3">
          <a
            href="https://www.instagram.com/farhanaziz___?igsh=aThjYzZ6YzAzOG9n&utm_source=qr"
            ><i class="bi bi-instagram"></i
          ></a>
        </div>
        <div class="col-md-9">
          <span class="contact-title">Instagram</span>
          <p class="contact-info">&#64;farhanaziz___</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="col-md-3">
          <a href="https://github.com/farhanaziz3112"
            ><i class="bi bi-github"></i
          ></a>
        </div>
        <div class="col-md-9">
          <span class="contact-title">Github</span>
          <p class="contact-info">Farhan Aziz</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="col-md-3">
          <a href="https://www.linkedin.com/in/muhammad-farhan-aziz-5bb327219/"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
        <div class="col-md-9">
          <span class="contact-title">LinkedIn</span>
          <p class="contact-info">Muhammad Farhan Aziz</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="col-md-3">
          <a href="https://www.facebook.com/muhammad.f.aziz.127?mibextid=LQQJ4d"
            ><i class="bi bi-facebook"></i
          ></a>
        </div>
        <div class="col-md-9">
          <span class="contact-title">Facebook</span>
          <p class="contact-info">Muhammad Farhan Aziz</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fh5co-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy; farhan-aziz.web.app</p>
      </div>
    </div>
  </div>
</div>
