/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Italic.ttf");
  font-style: italic;
}

@import "bootstrap-icons/font/bootstrap-icons.css";

* {
  font-family: "Space Mono";
}
